html,
body {
  padding: 1rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid black;
}

li {
  font-weight: bold;
  font-size: larger;
  list-style: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
